<div class="body">
    <form (ngSubmit)="OnFormsDone()">

        <input type="file" id="upload" (change)="OnFileUpload($event)" class="upload" />
        <label for="upload" class="upload-btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            UPLOAD
        </label>
        <br>
        <div [ngStyle]="{ 'display': formData == null ? 'none' : 'block'}">
            <div>
                <label for="numberSheet">Divide in </label>
                <input type="number" id="numberSheet" [(ngModel)]="howManySheets" name="numberSheet"><span>parts</span>
                <input type="checkbox" id="header" name="header" [(ngModel)]="header">
                <label for="header">Preserve the header</label>
            </div>
        </div>
    </form>
</div>