<div class="container">
    <div class="glass">
        <img src="../assets/GridLab name.png">
        <p>Break sh<span class="ee.">ee</span>ts down!</p>

        <div class="body">
            <form (ngSubmit)="OnFormsDone()">
                <div [ngStyle]="{ 'display': formData == null ? 'none' : 'block'}" class="fileName h6 text-truncate">
                    {{fileName}}
                </div>
                <input type="file" id="uploadDivider" (change)="OnFileUpload($event)" class="upload" accept="application/vnd.ms-excel, 
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/excel,
            application/vnd.ms-excel,
            application/x-excel,
            application/x-msexcel,
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <label for="uploadDivider" class="upload-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    UPLOAD
                </label>
                <div [ngStyle]="{ 'display': formData == null ? 'none' : 'block'} ">
                    <div class="header">
                        <input type="number" id="numberSheet" [(ngModel)]="howManySheets" (change)="downloadFile = null"
                            name="numberSheet" placeholder="Divide it into how many parts?" required>
                        <div>

                            <div class="headerBox">
                                <label class="switch" for="header">
                                    <input type="checkbox" id="header" name="header" [(ngModel)]="header">
                                    <span class="slider round"></span></label>
                                <span class="h6">Preserve the header</span>
                            </div>


                        </div>
                    </div>
                </div>
                <button type="submit" class="downloadButton"
                    [ngStyle]="{ 'display' : howManySheets == null ? 'none' : 'block'}">
                    @if (downloadFile == null) {
                    Divide sheet!
                    } @else{
                    Download file!
                    }
                </button>
            </form>
        </div>
    </div>
</div>