<div class="body">
    <form (ngSubmit)="OnFormsDone()">
        <div [ngStyle]="{ 'display': formData == null ? 'none' : 'block'}">
            {{fileName}}
        </div>
        <input type="file" id="upload" (change)="OnFileUpload($event)" class="upload"
            accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
        <label for="upload" class="upload-btn">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            UPLOAD
        </label>
        <div [ngStyle]="{ 'display': formData == null ? 'none' : 'block'} ">
            <div class="header">
                <input type="number" id="numberSheet" [(ngModel)]="howManySheets" (change)="downloadFile = null"
                    name="numberSheet" placeholder="Divide it into how many parts?" required>
                <div>
                    <input type="checkbox" id="header" name="header" [(ngModel)]="header">
                    <label for="header">Preserve the header</label>
                </div>
            </div>
        </div>
        <button type="submit" class="downloadButton"
            [ngStyle]="{ 'display' : howManySheets == null ? 'none' : 'block'}">
            @if (downloadFile == null) {
            Divide file!
            } @else{
            Download file!
            }
        </button>
    </form>
</div>