div {
    display: flex;
    justify-content: center;
    position: relative;
}

app-merger, app-upload-button {
}

.glueNupload:hover, .scissorNupload:hover {
transform: scale(1.2);
transition: all 2s ease;
z-index: 1;
}

.glue {
    position: absolute;
    width: 25%;
    top: -32%;
    left: 0;
    z-index: 3;
}

.scissor {
    position: absolute;
    width: 35%;
    top: -15%;
    right: -15%;
    transform: rotate(35deg);
    z-index: 3;
}