<div class="container">
    <div class="glass">
        <img src="../assets/GridLab name.png">
        <p>Get sh<span>ee</span>ts together!</p>

        <div class="body">
            <form (ngSubmit)="OnFormsDone()">
                <div [ngStyle]="{ 'display': formData == null ? 'none' : 'block'}">
                    {{fileName}}
                </div>
                <input type="file" multiple id="uploadMerger" (change)="OnFileUpload($event)" class="upload" accept="application/vnd.ms-excel, 
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,
            application/excel,
            application/vnd.ms-excel,
            application/x-excel,
            application/x-msexcel,
            application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <label for="uploadMerger" class="upload-btn">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    UPLOAD
                </label>


                <div [ngStyle]="{ 'display': formData == null ? 'none' : 'block'} ">
                    <div class="header">
                        <input type="checkbox" id="repeatedRows" name="header" [(ngModel)]="header">
                        <label for="repeatedRows">Ignore repeated rows</label>
                    </div>
                </div>

                <button type="submit" class="downloadButton"
                    [ngStyle]="{ 'display' : formData == null ? 'none' : 'block'}">
                    @if (downloadFile == null) {
                    Merge sheets!
                    } @else{
                    Download file!
                    }
                </button>
            </form>
        </div>
    </div>
</div>